.nav-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    background-color: rgba(129, 105, 162, 0.806);
    color: rgb(249, 157, 172);

}


h1 {
    color: rgb(29, 5, 27);
    font-family:cursive;
}

.nav-link {
    color: rgb(17, 15, 15);
    
}

.nav-link:hover{
    color: rgba(11, 124, 11, 0.824);
}